<!DOCTYPE html>
<html>
<head>
    <title>INOWAS Timeseries Processing API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

    <style>
        .Absolute-Center {
          margin: auto;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
        }
        .Absolute-Center.is-Responsive {
          width: 50%;
          height: 50%;
          min-width: 200px;
          max-width: 600px;
          padding: 40px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <h2>INOWAS Timeseries Processing API</h2>
            <ul style="margin-top: 50px;">
                <li>POST: timeseries/{function}?param1=abc&param2=123</li>
                <li>DATA: JSON or CSV</li>
                <li>Implemented functions:</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>